matplotlib==3.10.1
matplotlib-inline==0.1.7
notebook==7.2.2
notebook_shim==0.2.4
numpy==2.2.3
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pillow==11.1.0
pipenv==2024.4.1
seaborn==0.13.2
streamlit==1.43.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
virtualenv==20.29.3

